<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
 
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  
     
 
    <title>Events</title>

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="/stylesheets/events.css" />
    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="../assets/css/font-awesome.css">

    <link rel="stylesheet" href="../assets/css/templatemo-breezed.css">

    <link rel="stylesheet" href="../assets/css/owl-carousel.css">

    <link rel="stylesheet" href="../assets/css/lightbox.css">

    </head>
    
    <body>
    
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container" >
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="#" class="logo">
                            Welcome!
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="/landing" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="#about">About</a></li>
                            <li class="scroll-to-section"><a href="#projects">Announcements</a></li>
                            <li class="scroll-to-section"><a href="#contact-us">Contact Us</a></li> 
                            <li class="scroll-to-section"><a href="/events">Events</a></li> 
                        </ul>        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
    

    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner header-text" id="top">
        <div class="Modern-Slider">
          <!-- Item -->
          <div class="item">
            <div class="img-fill">
                <img src="assets/images/slide-01.jpg" alt="">
                <div class="text-content">
                  <h3>Welcome to the Alumni Portal </h3>
                  <h5>Events</h5>
                  <a href="/api/events/create" class="main-stroked-button">Create an Event</a>
                </div>
            </div>
          </div>
          <!-- // Item -->         
        </div>
    </div>
    
    <!-- ***** Main Banner Area End ***** -->

    <!-- ***** About Area Starts ***** -->
  
      <section class="container-fluid px-0">
        <div class="row align-items-center content">
          <div class="col-md-6 order-2 order-md-1" data-aos="fade-left">
            <img  class="img-fluid" style="margin-left: 20px;" src="https://images.unsplash.com/photo-1503428593586-e225b39bddfe?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8Y29uZmVyZW5jZXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60" alt="">
          </div>
          <div class="col-md-6 text-center order-1 order-md-2">
            <div class="row justify-content-center">
              <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                <h2>Conference</h2>
                <img src="imgs/lolli_icon.png" alt="" class="d-none d-lg-inline">
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.</p>
              </div>
              <div class="col-md-12" style="margin-top: 20px;">
                <a href="/viewevent" class="main-button-icon">
                    Learn More <i class="fa fa-arrow-right"></i>
                </a>
            </div>
            </div>
          </div>
        </div>
        <div class="row align-items-center content">
          <div class="col-md-6 text-center">
            <div class="row justify-content-center">
              <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                <h2>Foreign Exchange</h2>
                <img src="imgs/lolli_icon.png" alt="" class="d-none d-lg-inline">
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.</p>
              </div>
              <div class="col-md-12" style="margin-top: 20px;">
                <a href="#" class="main-button-icon">
                    Learn More <i class="fa fa-arrow-right"></i>
                </a>
            </div>
            </div>
          </div>
          <div class="col-md-6" data-aos="fade-left">
            <img class="img-fluid" src="https://images.unsplash.com/photo-1530251985675-fa6a8ceb0d63?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NTV8fGZvcmVpZ258ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60" alt="">
          </div>
        </div>
        <div class="row align-items-center content">
          <div class="col-md-6 order-2 order-md-1" data-aos="fade-left">
            <img class="img-fluid" style="margin-left: 20px;" src="https://images.unsplash.com/photo-1577083753695-e010191bacb5?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8ZGl3YWxpfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60" alt="">
          </div>
          <div class="col-md-6 text-center order-1 order-md-2">
            <div class="row justify-content-center">
              <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                <h2>Cultural Fests</h2>
                <img src="imgs/lolli_icon.png" alt="" class="d-none d-lg-inline">
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.</p>
              </div>
              <div class="col-md-12" style="margin-top: 20px;">
                <a href="#" class="main-button-icon">
                    Learn More <i class="fa fa-arrow-right"></i>
                </a>
            </div>
            </div>
          </div>
        </div>
      </section>
  
    
    <!-- ***** Contact Us Area Ends ***** -->
    
    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-xs-12">
                    <div class="left-text-content">
                        <p>Copyright &copy; 2020 Trailblazers 
                        
                        - Design: <a rel="nofollow noopener" href="https://templatemo.com">Trailblazers</a></p>
                    </div>
                </div>
                <div class="col-lg-6 col-xs-12">
                    <div class="right-text-content">
                            <ul class="social-icons">
                                <li><p>Follow Us</p></li>
                                <li><a rel="nofollow" href="#"><i style="margin-top: 10px;" class="fa fa-facebook"></i></a></li>
                                <li><a rel="nofollow" href="#"><i style="margin-top: 10px;"  class="fa fa-twitter"></i></a></li>
                                <li><a rel="nofollow" href="#"><i style="margin-top: 10px;" class="fa fa-linkedin"></i></a></li>
                                <li><a rel="nofollow" href="#"><i style="margin-top: 10px;" class="fa fa-dribbble"></i></a></li>
                            </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    

    <!-- jQuery -->
    <script src="assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="assets/js/popper.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="assets/js/owl-carousel.js"></script>
    <script src="assets/js/scrollreveal.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/imgfix.min.js"></script> 
    <script src="assets/js/slick.js"></script> 
    <script src="assets/js/lightbox.js"></script> 
    <script src="assets/js/isotope.js"></script> 
    
    <!-- Global Init -->
    <script src="assets/js/custom.js"></script>

    
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({
          offset:300,
          duration: 1300
      });
    </script>
  </body>
</html>
