<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Welcome to Alumni Portal</title>

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="../assets/css/font-awesome.css">

    <link rel="stylesheet" href="../assets/css/templatemo-breezed.css">

    <link rel="stylesheet" href="../assets/css/owl-carousel.css">

    <link rel="stylesheet" href="../assets/css/lightbox.css">

    </head>
    
    <body>
    
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="#" class="logo">
                            Welcome!
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="/landing" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="#about">About</a></li>
                            <li class="scroll-to-section"><a href="#projects">Announcements</a></li>
                            <li class="scroll-to-section"><a href="#contact-us">Contact Us</a></li> 
                            <li class="scroll-to-section"><a href="/events">Events</a></li> 
                            <% if (data=="yes") { %>
                            <li class="scroll-to-section"><a href="/myprofile">Me</a></li> 
                            <li class="scroll-to-section"><a href="/logout">Logout</a></li> 
                            <% } else { %>
                            <li class="scroll-to-section"><a href="/login">Login</a></li> 
                            <% } %>
                        </ul>        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
    

    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner header-text" id="top">
        <div class="Modern-Slider">
          <!-- Item -->
          <div class="item">
            <div class="img-fill">
                <img src="assets/images/slide-01.jpg" alt="">
                <div class="text-content">
                  <h3>Welcome To Directorate of Higher Education </h3>
                  <h5>Alumni Portal</h5>
                  <a  href="#" class="main-stroked-button">Scroll below to Learn More</a>
                </div>
            </div>
          </div>
          <!-- // Item -->
           <!-- Item -->
           <div class="item">
            <div class="img-fill">
                <img src="assets/images/slide-01.jpg" alt="">
                <div class="text-content">
                  <h3>Welcome To Directorate of Higher Education </h3>
                  <h5>Alumni Portal</h5>
                  <a  href="#" class="main-stroked-button">Scroll below to Learn More</a>
                </div>
            </div>
          </div>
          <!-- // Item -->
           <!-- Item -->
           <div class="item">
            <div class="img-fill">
                <img src="assets/images/slide-01.jpg" alt="">
                <div class="text-content">
                  <h3>Welcome To Directorate of Higher Education </h3>
                  <h5>Alumni Portal</h5>
                  <a  href="#" class="main-stroked-button">Scroll below to Learn More</a>
                </div>
            </div>
          </div>
          <!-- // Item -->
          
        </div>
    </div>
    <div class="scroll-down scroll-to-section"><a href="#about"><i class="fa fa-arrow-down" style="margin-top: 20px;"></i></a></div>
    <!-- ***** Main Banner Area End ***** -->

    <!-- ***** About Area Starts ***** -->
    <section class="section" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="left-text-content">
                        <div class="section-heading">
                            <h6>About Us</h6>
                            <h2>We promote the cause of Higher Education</h2>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="service-item">
                                    <img src="assets/images/service-item-01.png" alt="">
                                    <h4>7 Govt colleges</h4>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="service-item">
                                    <img src="assets/images/service-item-01.png" alt="">
                                    <h4>26 Aided colleges</h4>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12">
                                <div class="service-item">
                                    <img src="assets/images/contact-info-03.png" alt="">
                                    <h4>Over 10k students passing out every year</h4>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <a href="#" class="main-button-icon">
                                    Learn More <i class="fa fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="right-text-content">
                        <p><strong>Directorate of Higher Education </strong>provides higher education and prepares a comprehensive policy for Higher Education in the field of Engineering, Architecture, Management, Medicine, computer science etc.
                        <br><br> We open new colleges and release grant in aid to colleges as per the policy.
                      <br><br>We ensure that the accounts of the colleges partly or wholly funded by the Directorate are audited by the examiner, Dte of audit. </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** About Area Ends ***** -->

    <!-- ***** Features Big Item Start ***** -->
    <section class="section" id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <div class="features-item">
                        <div class="features-icon">
                            <img src="assets/images/features-icon-1.png" alt="">
                        </div>
                        <div class="features-content">
                            <h4>Funds</h4>
                            <p>The Department provides financial assistance to colleges.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter bottom move 30px over 0.6s after 0.4s">
                    <div class="features-item">
                        <div class="features-icon">
                            <img src="assets/images/features-icon-1.png" alt="">
                        </div>
                        <div class="features-content">
                            <h4>Future Plan</h4>
                            <p>The Directorate of Higher Education has immense scope in the coming years for imparting quality college Education to the younger generation.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                    <div class="features-item">
                        <div class="features-icon">
                            <img src="assets/images/features-icon-1.png" alt="">
                        </div>
                        <div class="features-content">
                            <h4>Our Vision</h4>
                            <p>Department is also committed to ensuring that no deserving student of the city be deprived of professional qualifications of his/her choice.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Big Item End ***** -->

    <!-- ***** Features Big Item Start ***** -->
    <section class="section" id="subscribe">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="section-heading">
                        <h6>Connect with your peers</h6>
                        <h2>Don’t miss this chance!</h2>
                    </div>
                    <div class="subscribe-content">
                        <p>Talk to your fellow alumni who have graduated from colleges under the Directorate of Higher Education.</p>
                        <div class="subscribe-form">
                            <form id="subscribe-now" action="" method="get">
                                <div class="row">
                                    <div class="col-md-8 col-sm-12">
                                      <fieldset>
                                        <input name="email" type="text" id="email" placeholder="Enter your email..." required="">
                                      </fieldset>
                                    </div>
                                    <div class="col-md-4 col-sm-12">
                                      <fieldset>
                                        <a href="/events"><button type="submit" id="form-submit" class="main-button">Learn More</button></a>
                                      </fieldset>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Big Item End ***** -->


    <!-- ***** Projects Area Starts ***** -->
    <section class="section" id="projects">
      <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="section-heading">
                    <h6>Our Announcements</h6>
                    <h2>Some of our latest developments</h2>
                </div>
                <div class="filters">
                    <ul>
                        <li class="active" data-filter="*">All</li>
                        <li data-filter=".des">Architecture</li>
                        <li data-filter=".dev">Engineering</li>
                        <li data-filter=".gra">Management</li>
                        <li data-filter=".tsh">Medicine</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="filters-content">
                    <div class="row grid">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 all des">
                          <div class="item">
                            <a href="https://images.unsplash.com/photo-1511818966892-d7d671e672a2?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NXx8YXJjaGl0ZWN0dXJlfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60" data-lightbox="image-1" data-title="Our Projects"><img src="https://images.unsplash.com/photo-1511818966892-d7d671e672a2?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NXx8YXJjaGl0ZWN0dXJlfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60" alt=""></a>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 all dev">
                          <div class="item">
                            <a href="https://images.unsplash.com/photo-1581093806997-124204d9fa9d?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8ZW5naW5lZXJpbmd8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60" data-lightbox="image-1" data-title="Our Projects"><img src="https://images.unsplash.com/photo-1581093806997-124204d9fa9d?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8ZW5naW5lZXJpbmd8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60" alt=""></a>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 all gra">
                          <div class="item">
                            <a href="https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8bWFuYWdlbWVudHxlbnwwfHwwfA%3D%3D&auto=format&fit=crop&w=600&q=60" data-lightbox="image-1" data-title="Our Projects"><img src="https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8bWFuYWdlbWVudHxlbnwwfHwwfA%3D%3D&auto=format&fit=crop&w=600&q=60" alt=""></a>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 all tsh">
                          <div class="item">
                            <a href="https://images.unsplash.com/photo-1515350540008-a3f566782a3e?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mjh8fG1lZGljaW5lfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60" data-lightbox="image-1" data-title="Our Projects"><img src="https://images.unsplash.com/photo-1515350540008-a3f566782a3e?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mjh8fG1lZGljaW5lfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60" alt=""></a>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 all dev">
                          <div class="item">
                            <a href="https://images.unsplash.com/photo-1504328345606-18bbc8c9d7d1?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Nnx8ZW5naW5lZXJpbmd8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60" data-lightbox="image-1" data-title="Our Projects"><img src="https://images.unsplash.com/photo-1504328345606-18bbc8c9d7d1?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Nnx8ZW5naW5lZXJpbmd8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60" alt=""></a>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 all des">
                          <div class="item">
                            <a href="https://images.unsplash.com/photo-1487958449943-2429e8be8625?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8YXJjaGl0ZWN0dXJlfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60" data-lightbox="image-1" data-title="Our Projects"><img src="https://images.unsplash.com/photo-1487958449943-2429e8be8625?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8YXJjaGl0ZWN0dXJlfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60" alt=""></a>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </section>
    <!-- ***** Projects Area Ends ***** -->

    <!-- ***** Testimonials Starts ***** -->
    <section class="section" id="testimonials">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h6>Administration Team</h6>
                        <h2>Directory of Officers and Employees</h2>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 mobile-bottom-fix-big" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <div class="owl-carousel owl-theme">
                        <div class="item author-item">
                            <div class="member-thumb">
                                <img src="assets/images/member-item-01.jpg" alt="">
                                <div class="hover-effect">
                                    <div class="hover-content">
                                        <ul>
                                            <li><a href="#"><i style="margin-top: 10px;" class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i style="margin-top: 10px;" class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i style="margin-top: 10px;" class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i style="margin-top: 10px;" class="fa fa-rss"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <h4>Sh. H Rajesh Prasad</h4>
                            <span>Pr. Secretary (Higher Education)</span>
                        </div>
                        <div class="item author-item">
                            <div class="member-thumb">
                                <img src="assets/images/member-item-04.jpg" alt="">
                                <div class="hover-effect">
                                    <div class="hover-content">
                                        <ul>
                                            <li><a href="#"><i style="margin-top: 10px;" class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i style="margin-top: 10px;" class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i style="margin-top: 10px;" class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i style="margin-top: 10px;" class="fa fa-rss"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <h4>Sh. Azimul Haque</h4>
                            <span>Director (Higher Education)</span>
                        </div>
                        <div class="item author-item">
                            <div class="member-thumb">
                                <img src="assets/images/member-item-02.jpg" alt="">
                                <div class="hover-effect">
                                    <div class="hover-content">
                                        <ul>
                                            <li><a href="#"><i style="margin-top: 10px;" class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i style="margin-top: 10px;" class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i style="margin-top: 10px;" class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i style="margin-top: 10px;" class="fa fa-rss"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <h4>Smt. Bhagwanti Taneja</h4>
                            <span>P.P.S. to Director</span>
                        </div>
                        <div class="item author-item">
                            <div class="member-thumb">
                                <img src="assets/images/member-item-05.jpg" alt="">
                                <div class="hover-effect">
                                    <div class="hover-content">
                                        <ul>
                                            <li><a href="#"><i style="margin-top: 10px;" class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i style="margin-top: 10px;" class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i style="margin-top: 10px;" class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i style="margin-top: 10px;" class="fa fa-rss"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <h4>Sh. Shri Bhagwan</h4>
                            <span>P.S. to Director</span>
                        </div>
                        <div class="item author-item">
                            <div class="member-thumb">
                                <img src="assets/images/member-item-03.jpg" alt="">
                                <div class="hover-effect">
                                    <div class="hover-content">
                                        <ul>
                                            <li><a href="#"><i style="margin-top: 10px;" class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i style="margin-top: 10px;" class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i style="margin-top: 10px;" class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i style="margin-top: 10px;" class="fa fa-rss"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <h4>Sh. Ramvir Singh</h4>
                            <span>P.A. to Director</span>
                        </div>
                        
                        <div class="item author-item">
                            <div class="member-thumb">
                                <img src="assets/images/member-item-04.jpg" alt="">
                                <div class="hover-effect">
                                    <div class="hover-content">
                                        <ul>
                                            <li><a href="#"><i style="margin-top: 10px;" class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i style="margin-top: 10px;" class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i style="margin-top: 10px;" class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i style="margin-top: 10px;" class="fa fa-rss"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <h4>Sh. Narinder Passi</h4>
                            <span>Director(Head of Office)</span>
                        </div>
                        
                        <div class="item author-item">
                            <div class="member-thumb">
                                <img src="assets/images/member-item-06.jpg" alt="">
                                <div class="hover-effect">
                                    <div class="hover-content">
                                        <ul>
                                            <li><a href="#"><i style="margin-top: 10px;" class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i style="margin-top: 10px;" class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i style="margin-top: 10px;" class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i style="margin-top: 10px;" class="fa fa-rss"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <h4>Sh. R.C. Antil</h4>
                            <span>A.O. (Admin)</span>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Testimonials Ends ***** -->
    
    <!-- ***** Contact Us Area Starts ***** -->
    <section class="section" id="contact-us">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="left-text-content">
                        <div class="section-heading">
                            <h6>Contact Us</h6>
                            <h2>Feel free to keep in touch with us!</h2>
                        </div>
                        <ul class="contact-info">
                            <li><img src="assets/images/contact-info-01.png" alt="">011-23830075</li>
                            <li><img src="assets/images/contact-info-02.png" alt="">dtehedu@gmail.com</li>
                            <li><img src="assets/images/contact-info-03.png" alt="">http://higheredn.delhigovt.nic.in/</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-xs-12">
                    <div class="contact-form">
                        <form id="contact" action="" method="get">
                          <div class="row">
                            <div class="col-md-6 col-sm-12">
                              <fieldset>
                                <input name="name" type="text" id="name" placeholder="Your Name *" required="">
                              </fieldset>
                            </div>
                            <div class="col-md-6 col-sm-12">
                              <fieldset>
                                <input name="phone" type="text" id="phone" placeholder="Your Phone" required="">
                              </fieldset>
                            </div>
                            <div class="col-md-6 col-sm-12">
                              <fieldset>
                                <input name="email" type="email" id="email" placeholder="Your Email *" required="">
                              </fieldset>
                            </div>
                            <div class="col-md-6 col-sm-12">
                              <fieldset>
                                <input name="subject" type="text" id="subject" placeholder="Subject">
                              </fieldset>
                            </div>
                            <div class="col-lg-12">
                              <fieldset>
                                <textarea name="message" rows="6" id="message" placeholder="Message" required=""></textarea>
                              </fieldset>
                            </div>
                            <div class="col-lg-12">
                              <fieldset>
                                <button type="submit" id="form-submit" class="main-button-icon">Send Message Now <i class="fa fa-arrow-right"></i></button>
                              </fieldset>
                            </div>
                          </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Contact Us Area Ends ***** -->
    
    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-xs-12">
                    <div class="left-text-content">
                        <p>Copyright &copy; 2020 Trailblazers 
                        
                        - Design: <a rel="nofollow noopener" href="https://templatemo.com">Trailblazers</a></p>
                    </div>
                </div>
                <div class="col-lg-6 col-xs-12">
                    <div class="right-text-content">
                            <ul class="social-icons">
                                <li><p>Follow Us</p></li>
                                <li><a rel="nofollow" href="#"><i style="margin-top: 10px;" class="fa fa-facebook"></i></a></li>
                                <li><a rel="nofollow" href="#"><i style="margin-top: 10px;"  class="fa fa-twitter"></i></a></li>
                                <li><a rel="nofollow" href="#"><i style="margin-top: 10px;" class="fa fa-linkedin"></i></a></li>
                                <li><a rel="nofollow" href="#"><i style="margin-top: 10px;" class="fa fa-dribbble"></i></a></li>
                            </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    

    <!-- jQuery -->
    <script src="assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="assets/js/popper.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="assets/js/owl-carousel.js"></script>
    <script src="assets/js/scrollreveal.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/imgfix.min.js"></script> 
    <script src="assets/js/slick.js"></script> 
    <script src="assets/js/lightbox.js"></script> 
    <script src="assets/js/isotope.js"></script> 
    
    <!-- Global Init -->
    <script src="assets/js/custom.js"></script>

    <script>

        $(function() {
            var selectedClass = "";
            $("p").click(function(){
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("."+selectedClass).fadeOut();
            setTimeout(function() {
              $("."+selectedClass).fadeIn();
              $("#portfolio").fadeTo(50, 1);
            }, 500);
                
            });
        });

    </script>

  </body>
</html>
