
<link rel="stylesheet" href="/stylesheets/forms.css" />
<div class="login-box" style="margin-top: 40px;">
    <h2>Login</h2>
    <form action="/login" method="POST">
      <div class="user-box">
        <input type="text" name="alumni_email" required="">
        <label>Email</label>
      </div>
      <div class="user-box">
        <input type="password" name="password" required="">
        <label>Password</label>
      </div>
      <!-- <a href="#"> -->
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <button style="margin-top:20px;text-align:center;padding:10px 10px;border: none; background: black; font-size: large; font-weight: bold; color: white;" type="submit">Login</button>
     
      <!-- </a> -->
      <p style="color: #03e9f4; margin-top: 10px; font-weight: bold;">Don't have an account?<a style="margin-left: 20px;" href="/register">Register</a></p>
    </form>
  </div>