<div class="container">
    <div class="row text-center" style="display: flex; flex-wrap: wrap;">
    <div class= "col-md-3 col-sm-6" style="margin-left: 10px; margin-bottom: 20px;">
<div class="card">
    <img src="https://images.unsplash.com/photo-1511367461989-f85a21fda167?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8aHVtYW58ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60" alt="John" style="width:100%">
    <h1><%= data.alumni_name %></h1>
    <p class="title"><%= data.alumni_email %></p>
    <p><%= data.college %></p>
    <a href="#"><i class="fa fa-dribbble"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
  </div>
</div>
<div class="col-md-1"></div>
</div>
</div>